.treeWrapper {
  height: 97vh;
  text-align: center;
  align-items: center;
  .rootTree {
    text-align: center;
    display: flex;
    flex-direction: row;
    .rootContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 15px;
    }
  }
  .firstCard {
    margin-bottom: 15px;
  }
}

